namespace: mlflow
# Name of the service account to use with permission to pull images from ACR
# serviceAccountName: mlflow-project-sa
# Name of the secret to use for pulling images from ACR
acrSecret: acr-secret
# image: dataanalyticsbulka.azurecr.io/mlflow-project:latest
image: mlflow-project
imagePullPolicy: IfNotPresent

# Command to execute of the format: "mlflow run <path> -e <entrypoint-name> --<param1> <value1> --env-manager local"
# - <path> - Path to the MLflow project to run. We should leave it as /mnt/mlproject and use for the git.path parameter
#       a path from the repo 
# - <entrypoint-name> - Name of the entrypoint from the MLproject file to run
# - <param1>, <value1> - Parameter with a value for the entrypoint (we can provide many parameters one by one)
# - "--env-manager local" - Indicates to use the local environment. We want to use it because in the Docker image which we
#                           are using in the Job already contains prepared environment for running the MLflow project.
# - --experiment-name - Indicates which experiment assign this run to.
command: "mlflow run https://github.com/bulka4/data_and_ml_platform_kind.git#apps/mlflow_project -e train --env-manager local --experiment-name=lasso_test"

# MLflow server URI. It uses DNS name assigned by the Service linked to the Tracking Server deployment.
mlflowTrackingUri: http://tracking-server.mlflow.svc:5000