namespace: spark

# Variables for Hive Metastore
hive:
  image:
    # This image is big, includes HiveServer2 and a lot of additional libs and jars, it requires a lot of memory.
    # It is for production, not development.
    url: apache/hive
    tag: 3.1.3
    # Smaller image for development. It includes only Hive Metastore.
    # url: hive
    # tag: latest
    pullPolicy: IfNotPresent
  metastorePort: 9083
  # Name of the database in PostgreSQL db with metadata and name of the user who is the owner of that database
  database:
    name: hive
    user: hive
  resources:
    requests:
      memory: "6Gi"
      cpu: "1"
    limits:
      memory: "6Gi"
      cpu: "2"

# Variables for PostgreSQL which will be used as Hive Metastore metadata db
postgresql:
  image: public.ecr.aws/bitnami/postgresql:12 # Newer versions might not be compatible with Hive
  username: hive
  database: hive
  # Secret with values for authentication
  secret:
    name: hive-metastore-db-secret
    adminPasswordKey: postgres-password # Set up POSTGRES_POSTGRES_PASSWORD env var (password for the `postgres` superuser (admin))
    userPasswordKey: hive-password # Set up POSTGRES_PASSWORD env var (password for the created user)      

# Variables related to the ACR where we keep Docker images which will be deployed in pods
acrSecret:
  secretName: acr-secret