# kind-config.yaml
kind: Cluster
apiVersion: kind.x-k8s.io/v1alpha4
nodes:
  - role: control-plane
    extraPortMappings:
      # port on which cluster is listening. Using this port we communicate with the cluster using kubectl
      # so it needs to be used in the kubeconfig file
      - containerPort: 6443
        hostPort: 6443
        protocol: TCP
      # port for accessing services
      - containerPort: 30080
        hostPort: 8080
        protocol: TCP
    # Mount a host folder into the node container so it can be mounted into pods
    extraMounts:
      - hostPath: "C:/Users/mbulka/Documents/projects/my_projects/learning/data and ml platform/data_and_ml_platform_kind/volume_data"
        containerPath: /kind-pv-data
  - role: worker
    # Mount a host folder into the node container so it can be mounted into pods
    extraMounts:
      - hostPath: "C:/Users/mbulka/Documents/projects/my_projects/learning/data and ml platform/data_and_ml_platform_kind/volume_data"
        containerPath: /kind-pv-data
networking:
  disableDefaultCNI: false