# Service for exposing Hive Metastore

apiVersion: v1
kind: Service
metadata:
  name: hive-metastore
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: hive-metastore
  ports:
    - port: {{ .Values.hive.metastorePort }}
      targetPort: {{ .Values.hive.metastorePort }}