numpy==2.3.2
pandas==2.2.3
mlflow==3.3.1
scikit-learn==1.7.1
# PyHive, thrift and thrift-sasl Connecting to the Spark Thrift Server
pyhive==0.7.0
thrift==0.22.0
thrift-sasl==0.4.3
# sqlalchemy and psycopg2 for connecting to PostgreSQL to work with MLflow metadata. The sqlalchemy is already being installed with the `mlflow`
# package, but we include it here to make sure that the version is correct. The psycopg2-binary is needed additionally.
sqlalchemy==2.0.48
psycopg2-binary==2.9.11