# Deployment for running MLflow Tracking Server.

apiVersion: apps/v1
kind: Deployment
metadata:
  name: mlflow-server
  namespace: {{ .Values.namespace }}
  labels:
    app: mlflow
spec:
  replicas: 1
  selector:
    matchLabels:
      app: mlflow
  template:
    metadata:
      labels:
        app: mlflow
    spec:
      # Get a secret with value for authentication to the ACR.
      # imagePullSecrets:
      #   - name: {{ .Values.mlflow.image.secretName }}
      containers:
      - name: mlflow
        image: {{ .Values.mlflow.image.url }}
        imagePullPolicy: {{ .Values.mlflow.image.pullPolicy }}
        ports:
        - containerPort: 5000
        env:
        # Create environment variables with values from the secret created as well in this chart. They will be used by the
        # MLflow Tracking Server for authentication when connecting to the artifact store (Storage Account) and backend store (MySQL).
        - name: STORAGE_ACCOUNT_NAME
          value: {{ .Values.storageAccount.name }}
        - name: STORAGE_ACCOUNT_ACCESS_KEY
          valueFrom:
            secretKeyRef:
              name: {{ .Values.storageAccount.secret.name }}
              key: {{ .Values.storageAccount.secret.key }}
        - name: POSTGRES_USERNAME
          value: {{ .Values.postgres.username }}
        - name: POSTGRES_USER_PASSWORD
          valueFrom:
            secretKeyRef:
              name: {{ .Values.postgres.secret.name }}
              key: {{ .Values.postgres.secret.userPasswordKey }}
        - name: POSTGRES_DNS_NAME
          value: "{{ .Values.postgres.serviceName }}.{{ .Values.namespace }}.svc.cluster.local"
        - name: POSTGRES_DATABASE_NAME
          value: {{ .Values.postgres.database }}

        # Run the command to start the Tracking Server
        command: ["/bin/sh", "-c"]
        args:
          - |
            export DB_URI="postgresql://${POSTGRES_USERNAME}:${POSTGRES_USER_PASSWORD}@${POSTGRES_DNS_NAME}:5432/${POSTGRES_DATABASE_NAME}"
            export AZURE_STORAGE_CONNECTION_STRING="DefaultEndpointsProtocol=https;AccountName=${STORAGE_ACCOUNT_NAME};AccountKey=${STORAGE_ACCOUNT_ACCESS_KEY};EndpointSuffix=core.windows.net"

            # Use 'exec' for the mlflow process to become the PID 1 (to make sure that Kubernetes can stop that process easily)
            # Set up --workers to 1 to create only one worker process to avoid memory issues
            # Use "wasbs" URL for Storage Account used for --artifacts-destination. Thanks to that we can use the AZURE_STORAGE_CONNECTION_STRING env var 
            # and azure-storage-blob pip package for connecting and authentication (it works for both Blob Storage and ADLS Gen2).
            exec mlflow server \
              --host 0.0.0.0 \
              --port 5000 \
              --workers 1 \
              --backend-store-uri "$DB_URI" \
              --artifacts-destination "wasbs://{{ .Values.storageAccount.containerName }}@${STORAGE_ACCOUNT_NAME}.blob.core.windows.net"