# Service for exposing the Thrift Server.

apiVersion: v1
kind: Service
metadata:
  name: {{ .Values.serviceName }}
  namespace: {{ .Values.namespace }}
spec:
  selector:
    app: spark-thrift-server
  ports:
  # Port used as the spark.driver.port parameter when starting Spark Thrift Server
  - name: driver
    port: 7077
    targetPort: 7077
  - name: block-manager
    port: 7078
    targetPort: 7078
  - name: thrift
    port: 10000
    targetPort: 10000
  type: ClusterIP # For external access use `LoadBalancer` or `Ingress`.